<h1><%= @episode.title %></h1>
<p><%= @episode.content %></p>
<p>Theme: <%= @episode.theme %></p>

<% if session[:guest] %>
  <% if @episode.likes.find_by(guest_token: session[:guest]) %>
    <%= link_to 'いいねを取り消す', episode_unlike_path(@episode), data: { "turbo_method": :delete }, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'いいねする', episode_like_path(@episode), data: { "turbo_method": :post }, class: 'btn btn-success' %>
  <% end %>
<% end %>
