<!DOCTYPE html>
<html data-theme="pastel">
  <head>
    <title>Whispera</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", media: "all" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:reload) %>
  </head>

  <body>
    <% if controller.controller_name != "top" %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
    <script src="./node_modules/preline/dist/preline.js"></script>
    <% if controller.controller_name != "top" %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
